<!DOCTYPE html>
<html lang="en" data-scroll="0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <title>Jerzy Marczewski</title>
  </head>

  <body>
    <nav class="navbar">
      <a class="option" href="#about">O MNIE</a>
      <a class="option" href="#projects">PROJEKTY</a>
      <a class="option" href="#contact">KONTAKT</a>
      <div class="pill">
        <a id="pl" class="selected" href="/pl">PL</a>
        <a id="en" href="/en">EN</a>
      </div>
    </nav>
    <div class="hero">
      <div class="heroText">
        <p>Cześć, nazywam się</p>
        <h1>Jerzy <br />Marczewski</h1>
      </div>
      <img src="img/profile.png" alt="profile" />
    </div>
    <div id="about">
      <h1>O MNIE</h1>
      <p>
        Mam na imię Jurek i jestem studentem trzeciego roku informatyki w Szkole
        Głównej Gospodarstwa Wiejskiego. Interesuję się web developmentem i
        rozwijam się w tym obszarze we własnym zakresie od ponad dwóch lat.
        <br /><br />
        Technologie, których używam w moich projektach to: React, Redux,
        Node.js, Express.js, MongoDB, Mongoose, TypeScript, JavaScript, HTML i
        CSS.
        <br /><br />
        W wolnych chwilach lubię gotować, jeździć na rowerze i niedawno
        rozpocząłem również rozwijanie umiejętności w dziedzinie Machine
        Learningu, nad którym pracuję w ramach mojej pracy inżynierskiej.
      </p>
    </div>
    <div id="projects">
      <h1>PROJEKTY</h1>
      <div class="project">
        <h2>ASCII-filter</h2>
        <div class="previewWithDescription">
          <img src="img/project5-preview.png" alt="project 5 preview" />
          <div class="description">
            <p>
              Aplikacja webowa, która bierze obraz na żywo z kamerki użytkownika
              i daje mu możliwość nakładania różnych filtrów. Użytkownik może
              dynamicznie dostowowywać parametry takie jak gamma i rozmiar
              piksela. Aplikacja zawiera animacje, które mają wpłynąć pozytywnie
              na UX.
              <br /><br />
              Wykorzystane technologie: JavaScript, HTML, CSS, React,
              react-transition-group, Redux, TypeScript
            </p>
            <a
              class="previewButton"
              href="https://github.com/JerzyMarczewski/ASCII-filter"
              >PREVIEW</a
            >
          </div>
        </div>
      </div>
      <div class="project">
        <h2>MERN-REMINDERS</h2>
        <div class="previewWithDescription">
          <img src="img/project1-preview.png" alt="project 1 preview" />
          <div class="description">
            <p>
              Aplikacja webowa inspirowana aplikacją apple REMINDERS.
              Wykorzystuje system logowania użytkowników, których zapisuje w
              bazie danych i szyfruje ich hasła. Aplikacja służy do tworzenia
              list, które są zapisywane na serwerze, dzięki czemu można je
              aktywować z różnych urządzeń.
              <br /><br />
              Wykorzystane technologie: React, Node, Express, MongoDB, Mongoose,
              JavaScript, HTML, CSS.
            </p>
            <a
              class="previewButton"
              href="https://github.com/JerzyMarczewski/MERN-Reminders"
              >PODGLĄD</a
            >
          </div>
        </div>
      </div>
      <div class="project">
        <h2>Viaggio</h2>
        <div class="previewWithDescription">
          <img src="img/project2-preview.png" alt="project 2 preview" />
          <div class="description">
            <p>
              Responsywna strona internetowa dla przykładowego biura podróży.
              <br /><br />
              Wykorzystane technologie: React, JavaScript, HTML, CSS.
            </p>
            <a
              class="previewButton"
              href="https://github.com/JerzyMarczewski/react-travel-agency"
              >PODGLĄD</a
            >
          </div>
        </div>
        <div class="project">
          <h2>Music Streamer</h2>
          <div class="previewWithDescription">
            <img src="img/project3-preview.png" alt="project 3 preview" />
            <div class="description">
              <p>
                Projekt, który stworzyłem wspólnie z kolegami ze studiów. Jest
                to aplikacja webowa służąca do odtwarzania utworów umieszczonych
                na serwerze i tworzenia playlist, podobnie jak w serwisie
                Spotify. Aplikacja wykorzystuje system logowania i zapisywania
                utworów, co pozwala na korzystanie z niej na różnych
                urządzeniach bez utraty danych.
                <br /><br />
                Wykorzystane technologie: React, Redux, Supabase, TypeScript,
                JavaScript, HTML, CSS.
              </p>
              <a
                class="previewButton"
                href="https://github.com/wojtek0123/music-streamer"
                >PODGLĄD</a
              >
            </div>
          </div>
          <div class="project">
            <h2>Movie searcher</h2>
            <div class="previewWithDescription">
              <img src="img/project4-preview.png" alt="project 4 preview" />
              <div class="description">
                <p>
                  Projekt, który stworzyłem wspólnie z kolegami ze studiów. Jest
                  to aplikacja webowa służąca do wyszukiwania filmów i danych z
                  nimi związanymi, wykorzystując TMDB Api. Aplikacja
                  wykorzystuje system logowania i zapisywania danych, co pozwala
                  na korzystanie z niej na różnych urządzeniach bez utraty
                  danych.
                  <br /><br />
                  Wykorzystane technologie: React, Supabase, TypeScript,
                  JavaScript, HTML, CSS.
                </p>
                <a
                  class="previewButton"
                  href="https://github.com/wojtek0123/music-streamer"
                  >PODGLĄD</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact">
      <h1>KONTAKT</h1>
      <a
        class="contactOption"
        href="https://www.linkedin.com/in/jerzy-marczewski-83400926b/"
        ><iconify-icon icon="skill-icons:linkedin" width="40"></iconify-icon>
        <p>Jerzy Marczewski</p></a
      >
      <a class="contactOption" href="https://github.com/JerzyMarczewski">
        <iconify-icon icon="devicon:github" width="40"></iconify-icon>
        <p>JerzyMarczewski</p>
      </a>
      <a class="contactOption" href="mailto:jerzy.marczewski2@gmail.com">
        <iconify-icon icon="uiw:mail" width="40"></iconify-icon>
        <p>jerzy.marczewski2@gmail.com</p>
      </a>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
      // Kod służy jedynie do stylowania strony
      const cookiesWindow = document.querySelector(".cookiesWindowContainer");
      const cookiesButton = document.querySelector(".cookiesButton");

      document.addEventListener("scroll", () => {
        document.documentElement.dataset.scroll = window.scrollY;
      });

      cookiesButton.addEventListener("click", () => {
        console.log("clicked");
        cookiesWindow.remove();
      });
    </script>
  </body>
</html>
